.navbar {
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: pink;
    
    .logoLink {
        color: black;
        font-size: 50px;
        display: block;
        position: relative;

        &:hover {
            color: cadetblue;
        }
    }

    nav {
        display: block;
        text-align: center;

        a {
            font-size: 2rem;
            text-decoration: none;
            margin-right: 20px;

            &:hover {
                color: cadetblue;
            }
        }

        .link {
            color: black;
        }

        .link-active {
            color: cadetblue;
        }
    }
}