.navbar {
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: #416351;
    
    .logoLink {
        color: #efe7d8;
        font-size: 50px;
        display: block;
        position: absolute;
        top: 0;

        &:hover {
            color: #fac25c;
        }
    }

    nav {
        display: block;
        text-align: right;
        margin-right: 20px;

        a {
            font-size: 1.5rem;
            text-decoration: none;
            margin-right: 20px;

            &:hover {
                color: #fac25c;
            }
        }

        .link {
            color: #efe7d8;
        }

        .link-active {
            color: #fac25c;
        }
    }
}