footer {
    background-color: #efe7d8;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

    .wrapper {
        display: flex;
        width: 60%;
        gap: 170px;
        margin: auto;
    }

    .admin {
        text-align: right;
        margin-right: 20px;
        position: absolute;
        bottom: 0;
        padding: 10px;
        a{
            text-decoration: none;
            color: #416351;

            &:hover {
                color: #fac25c;
            }
        }
    }
}